*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}
body{
    box-sizing:border-box;
    background-color: black;
}
.nav{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:20px 0px ;
    font-size: 20px;
}
li{
    display: inline-block;
    list-style-type: none;
}
#berger{
    display: none;
}
.box{
    display: flex;
    flex-direction: column;
     justify-content:center;
     align-items: center;
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.pic{
    flex-basis:50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
#img{
    width:35%;
}
.hello{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align:center;
    color: white;
}
.parag{
    color: white;
}
p{
    margin:20px;
    width: 60%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid tomato;
    margin-bottom: 30px;
   
}
.select1{
    margin-top: 50px;
    border-top:2px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    padding-top: 80px ; 
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    margin-bottom: 10px;
}
.select2{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
}
.part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 50px;  
}
h3{
    color: tomato;
}
@media only screen and (max-width:1024px){
    .nav{
        position: sticky;
        top: 15px;
        left:950px;
        background-color: rgb(75, 75, 75);
        color: rgb(255, 245, 245);
        width:70px;
        height: 70px;
        padding:20px 0px ;
        font-size: 20px;
        border-radius: 20%;
       

    }
    li{
        display: none;
    }
    #berger{
        display: inline-block;
        color: tomato;
    }
    
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    }
    .pic{
        flex-basis:50%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    #img{
        width:70%;
    }
    .caption{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
        font-size: 1.5rem;
        width:100%;
    }
    
    h1{
        text-align:center;
        color: white;
        font-size:2rem ;
    }
    p{
        width: 90%;
        font-family: 'Raleway', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .select1{
        margin-top: 50px;
        border-top:2px solid tomato;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        padding-top: 80px ; 
        font-family: 'Raleway', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        flex-wrap: wrap;
    
    }
