*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}
body{
    box-sizing:border-box;
    background-color: black;
}
.nav{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:20px 0px ;
    font-size: 20px;
}
li{
    display: inline-block;
    list-style-type: none;
}
#berger{
    display: none;
}
.box{
    display: flex;
    flex-direction: column;
     justify-content:center;
     align-items: center;
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.pic{
    flex-basis:50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
#img{
    width:35%;
}
.hello{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align:center;
    color: white;
}
.parag{
    color: white;
}
p{
    margin:20px;
    width: 60%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid tomato;
    margin-bottom: 30px;
   
}
.select1{
    margin-top: 50px;
    border-top:2px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    padding-top: 80px ; 
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    margin-bottom: 10px;
}
